 * {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
 }

.main-box{
    display: flex;
    flex-direction:column;
    height: 600px;
    width: 300px;
    border-radius: 20px;
    border: 8px solid black;
    margin: 50px;
}

.div-pic-product {
    height: 50%;
}

.div-pic-product > img{
    width: 100%;
    border-radius: 10px;
}

.descrition-product-box{
    height: 50%;
    padding: 4px;
}

.descrition-product-box > h2{
    font-size:x-large;
    font-weight: bold;
    text-align: center;
}

.details-box{
    width: 100%;
    text-align: center;
    padding: 8px;
}

.details{
    display: inline-block;
    width: 40%;
    border: 4px solid black;
    font-size:larger;
    text-align: center;
}

.details-text{
    font-size: medium;
    padding: 8px;
}

.botton-box{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    height: 60px;
    justify-content: center;
}

.botton-infs{
    width: 40%;
    height: 50px;
    font-size:medium;
    color: white;
    font-weight: bold;
    background-color:blueviolet;
    border-radius: 15px;
    text-align: center;
    justify-content: space-around;
}