 * {
    padding: 0;
    margin: 0;
 }

.main-box{
    display: flex;
    flex-direction:column;
    height: 50%;
    width: 25%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 8px;
    border: 16px solid black;
}

.div-pic-product > img{
    width: 90%;
}