*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-cima{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: linear-gradient(to top, rgb(61, 7, 68), rgb(155, 15, 173));
    color: white;
    justify-content:space-between;
    align-items: center;
    padding: 4px;
    box-shadow: 0px 10px 15px rgb(2, 2, 39);
}

.div-cima > ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
    padding: 0;
}

.div-cima > ul > li{
    font-size:git large;
    text-shadow: 5px 5px 5px rgb(2, 2, 39);
}

.logo{
    height: 100px;
    justify-self:flex-start;
    filter: drop-shadow(5px 5px 10px rgb(2, 2, 39));
}