*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-cima{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    color: white;
    justify-content:space-between;
    align-items: center;
    padding: 4px;
}

.div-cima > ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
    padding: 0;
}

.div-cima > ul > li{
    font-size:large;
}

.logo{
    height: 100px;
    justify-self:flex-start;
}