*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.main-class{
    align-content:space-around;
    text-align: center;
    align-items: center;
}

.section-class{
    display: flex;
    align-items: center;
    gap: 25px;
}

.data-inputs{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 400px;
    height: 434px;
    gap: 10px;
}
.data-inputs>p{
    display: flex;
    flex-direction:column;
    gap: 10px;
    margin-bottom: 25px;
}

.input-form{
    align-self: flex-start;
    text-align: left;
}

.input-form>p{
    font-weight: bold;
    font-size: small;
}

.img-form>img{
    height: 480px;;
    width: 480px;
}

.div-submit{
    width: 200px;
}

.div-submit>button{
    width: 100%;
}

.div-extra-form{
    display: flex;
    width: 100%;
}

.left-aling{
    position: relative;
    left: 25px;
    text-align: left;
}

.right-aling{
    position: relative;
    right: 25px;
    text-align: right;
}

.half-width{
    width: 50%;
}